.login-register {
    width: 100%;
    height: 100dvh;
    background-color: var(--color-primary);
}

.home_box {
    display: flex;
    align-items: self-end;
    width: inherit;
    height: inherit;
    background-image: url(../images/bg_login.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.home_box_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--color-white);
}

.home_box_top .home_box_title {
    margin-bottom: 2dvh;
}

.home_box_top .home_box_subtitle {
    margin-top: 3dvh;
    line-height: 13px;
    text-align: justify;
}

.box_login .item-input {
    width: calc(100% - 40px);
}

.box_confirm .home_box_subtitle {
    margin: 20px 0;
    line-height: 20px;
}

.code-confirm {
    text-transform: uppercase;
}

.code-confirm::placeholder {
    text-transform: none;
}

.base {
    position: relative;
}

.base .header.home {
    width: 100%;
    min-height: 22dvh;
}

.base .header.page-all {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 8dvh;
    margin-bottom: 10px;
    background-color: var(--color-white);
}


.base .header.page-all i {
    position: absolute;
    font-size: 44px;
    left: 10px;
}

.base .content {
    width: 100%;
    min-height: 78dvh;
    margin-bottom: 140px;
}

.base .navbar {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 70px;
    transform: translate(-50%);
}

.base .navbar .menu {
    display: flex;
    height: inherit;
    align-items: center;

    margin: 0;
    gap: 25px;
    padding: 0 25px;
}

.base .navbar .menu .item-menu {
    width: 25%;
    /* display: flex;
    justify-content: center; */
    cursor: pointer;
}


.base .navbar .menu .item-menu img {
    opacity: .8;
    cursor: pointer;
}

.base .navbar .menu .item-menu.actived img {
    filter: invert(51%) sepia(83%) saturate(586%) hue-rotate(96deg) brightness(97%) contrast(102%);
}

.base .content,
.base .header.home {
    padding: 0 2dvh;
}

.base .header.home .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.base .header.home .infos .logo {
    width: 120px;
}

.base .header.home .infos .address {
    display: flex;
    flex-direction: column;
}

.base .header.home .infos .address .addess-actived {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.base .content .categories .slide-categories {
    position: relative;
    width: 100%;
    padding: 10px 0;
    z-index: 0;
}

.base .content .categories .category {
    width: calc(25% - 10px);
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.base .content .categories .category .item-category {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg-color-2);
}

.base .content .categories .category .item-category img {
    width: 62px;
    height: 70px;
}

.base .content .categories .category .item-category.favorite img {
    width: 100%;
    height: 80px;
}

.base .content .categories .category .name-category {
    margin-top: 2px;
}


.base .content .highlights,
.base .content .offers {
    width: 100%;
    margin-top: 10px;
}

.base .content .highlights .slide-highlights {
    display: flex;
    gap: 10px;
}

.base .content .highlights .slide-highlights .item-highlights {
    min-width: 70%;
    max-width: 70%;
    height: 100px;
    border-radius: 10px;
    background-color: aqua;
}

.base .content .highlights .slide-highlights .item-highlights img {
    width: 100%;
    height: 100px;
}

.base .content .offers .slide-offers,
.base .content .produts .slide-produts {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.base .my-addresses {
    margin-top: 50px;
}

.base .my-addresses .list-address {
    width: 100%;
    margin-top: 30px;
}

.base .my-addresses .list-address .address {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

.base .my-addresses .list-address .address i {
    font-size: 24px;
    color: var(--text-placeholder-color-1);
}

.base .my-addresses .list-address .address.active i {
    font-size: 24px;
    color: var(--color-primary);
}

.base .my-addresses .list-address .address .address-actual {
    margin-bottom: 10px;
}

.base .my-addresses .list-address .address.active .address-actual {
    font-weight: 600;
}

.icon5vh {
    width: 5vh;
}

.icon3vh {
    width: 3vh;
}

.margin5 {
    margin: 0 5vw;
}

.delivery-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px dashed var(--color-primary);
    border-radius: 10px;
    margin: 0 5vw;
    color: var(--color-primary);
    background-color: var(--bg-tag-success);
    padding: 2vw;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.5vh 5vw;
}

.amount {
    height: 40px;
    padding: 8px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(153, 153, 153);
    margin-top: 8px;
    user-select: none;
    max-width: 250px;
}

.item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: rgb(153, 153, 153);
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 32px;
    width: 24vh;
    font-size: 45%;
}

.product-title {
    font-size: larger;
    font-weight: bolder;
}

.image-product {
    height: 88px;
    display: flex;
    margin: 16px;
    align-items: center;
    justify-content: center;
}

.image-product img {
    height: 88px;
    align-self: center;
    padding: 4px;
}

.item-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 16%);
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 3vh;
}

.deleteIcon {
    margin: 3vh 2vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.addProducts {
    color: var(--color-grey);
}

.bill {
    height: 33vh;
    margin-top: 7vh;
}

.bg-order {
    background-color: var(--bg-color-1);
    border-radius: 2vh;
    border: thin solid var(--text-placeholder-color-1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27vh;
    margin-top: 5vh
}

.orderSumary {
    width: 90%;
    height: 21.5vh;
    border-radius: 1.5vh;
    background-color: var(--color-white);
    color: var(--text-color-1);
    position: absolute;
    top: -3vh;
}

.headerSumary {
    display: flex;
    align-items: center;
}

.orderSumaryHeader {
    background-color: var(--color-primary);
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5vh;
    justify-content: flex-start;
}

#totalPrice {
    padding: 1vh;
}

.itensOrderDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vh;
    border-style: dashed;
    border-bottom-width: 1px;
    border-color: var(--text-color-3);
    margin: 0vw 3vw;
    font-size: 75%;
    color: var(--color-grey);
}

.discountCoupom {
    color: var(--color-primary);
}

.totalAmountBill {
    font-weight: bolder;
    border-bottom-width: 0px;
}

.option {
    width: 90%;
    top: 20.5vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
}

.option input {
    background-color: var(--color-white);
    width: 36vw;
    height: 100%;
    border-radius: 1vh;
    padding: 1vh 2vw;
    border: 2px solid var(--border-color-1);
}

.option input::placeholder {
    color: var(--text-placeholder-color-1);
}

#paymentMethod {
    height: 14vh;
    margin-top: 10vh;
}

#paymentMethodHeader {
    top: -6vh;
    height: 9.5vh;
    font-size: 64%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
}

#paymentMethodTitle {
    line-height: 100%;
    display: flex;
    flex-direction: column;
    height: 5vh;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sub-title {
    font-size: 70%;
}

#paymentOption {
    top: 7vh;
    width: 71vw;
}

.customerBasicInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 60%;
    margin: 2vh;
}

.customerBasicInfo img {
    margin: 1vh;
    padding: 1vh;
    width: 8vw;
}

.customInfo {
    margin-top: 1vh;
}

.customerObservation {
    height: 15vh;
    text-align: start;
}
.textObs{
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    height: 14vh;
    border: 2px solid var(--border-color-1);
    border-radius: 12px;
    background-color: var(--bg-color-1);
}

.textObs::placeholder{
    color: var(--text-placeholder-color-1);
}

.orderAction {
    display: flex;
    margin: 2vw 5vw;
}

.footer-info {
    line-height: 2.5vh;
    margin: 2vh 5vw;
    color: var(--color-grey);
}

.orderDetailsHeaderTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.orderDetails {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid var(--color-grey);
    border-radius: 1vh;
    margin-bottom: 5vh;
}

.orderDetailsHeader {
    margin: 3vw 4vw;
}

.orderDetailsHeader img {
    margin-right: 1vh;
    width: 5vw;
}

.OverviewOrder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    font-size: 75%;
}

.sideOverview {
    display: flex;
    flex-direction: column;
}

#overviewDescription {
    margin: 0;
}

.titleOrderDetails {
    color: var(--color-grey);
}

.right {
    align-items: flex-end;
}

.itemOverview {
    margin: 0.8vh 0;
}

.wrapper {
    margin: 0.7vh;
}

.OverviewCosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    font-size: 75%;
}

.dashedBorder {
    border-style: dashed;
    border-bottom-width: 1px;
}

.solidBorderOrderStatus {
    border-style: solid;
    border-bottom-width: 1px;
    border-color: var(--text-color-3);
    margin: 0;
}

.overviewItemDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.marginTB2 {
    margin: 2vh 0;
}

.blueText {
    color: #3e77bd;
}

.listItemProductStatus {
    background-color: var(--bg-color-2);
}

.itemProductStatus {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vh 5vw;
}

.itemProductStatusImg {
    width: 16vw;
    height: 10vh;
}

.itemProductStatusImg img {
    width: 100%;
}

.itemDescriptionTotalProductStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.padding5vw {
    padding: 1.5vh 5vw;
}

.wrapper5h {
    margin: 5vh
}

.profilePicture {
    width: 24vw;
    height: 13vh;
}

.mainInfoUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 6vw 0;
}

.scoreUser {
    background-color: var(--text-color-1);
    border-radius: 2vh;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 18vw;
}

.opProfile {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-1);
    border-radius: 1.5vh;
    padding: 2vh;
}

.wrapper2vh {
    margin: 2vh;
}

.mgb0 {
    margin-bottom: 0;
}

.headerOrderStatus {
    background-color: var(--color-primary);
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.headerTopOrderStatus {
    background-color: var(--bg-color-2);
    height: 6.5vh;
    width: 100%;
    display: flex;
    border-top-right-radius: 4vh;
    border-top-left-radius: 4vh;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
}

.msgOrderStatus {
    background-color: var(--color-white);
    width: 100%;
    height: 82%;
    display: flex;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
    border-bottom-right-radius: 4vh;
    border-bottom-left-radius: 4vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerMsgOrderStatus {
    width: 100%;
    height: 17vh;
}

.mg-5 {
    margin: 5vh;
}

.abasSales {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.abaTitleSales {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.iconAbaTitleSales {
    width: 10%;
    margin-right: 2%;
}

.iconAbaTitleSales img {
    width: 100%;
    height: auto;
}

.borderAba {
    border-bottom: 3px solid var(--color-primary);
    height: 7vh;
    background-image: linear-gradient(to top, var(--bg-color-1), white)
}

.linhaUnica {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5vh;
}

.price-item {
    margin: 3vh 0;
}

.mgb1 {
    margin-bottom: 1vh !important;
}

.circle-line{
    height: 5vh;
    padding: 1vh 1vh 0 1vh;
}

.circle{
    background: var(--border-color-1);
    width: 11%;
    height: 85%;
    border-radius: 46vh;
}

.line{
    width: 15%;
    height: 8%;
    background-color: var(--border-color-1);
}

.statusPagamento{
    background-color: #fed201;
    color: var(--text-color-1);
    padding: 0 1.5vw;
    border-radius: 6vh;
}

.wrapper100{
    margin: 100px;
}