.login-register {
    width: 100%;
    height: 100dvh;
    background-color: var(--color-primary);
}

.home_box {
    display: flex;
    align-items: self-end;
    width: inherit;
    height: inherit;
    background-image: url(../images/bg_login.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
}

.home_box_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--color-white);
}

.home_box_top .home_box_title {
    margin-bottom: 2dvh;
}

.home_box_top .home_box_subtitle {
    margin-top: 3dvh;
    line-height: 13px;
    text-align: justify;
}

.box_login .item-input {
    width: calc(100% - 40px);
}

.box_confirm .home_box_subtitle {
    margin: 20px 0;
    line-height: 20px;
}

.code-confirm {
    text-transform: uppercase;
}

.code-confirm::placeholder {
    text-transform: none;
}

.base {
    position: relative;
    z-index: 1;
}

.base .header.home {
    width: 100%;
    min-height: 22dvh;
}

.base .header.page-all {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    background-color: var(--color-white);
}


.base .header.page-all i {
    position: absolute;
    font-size: 44px;
    left: 10px;
}

.base .content {
    width: 100%;
    min-height: 78dvh;
    margin-bottom: 140px;
}

.base .navbar {
    position: fixed;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 70px;
    transform: translate(-50%);
}

.base .navbar .menu {
    display: flex;
    height: inherit;
    align-items: center;

    margin: 0;
    gap: 25px;
    padding: 0 25px;
}

.base .navbar .menu .item-menu {
    width: 25%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}


.base .navbar .menu .item-menu img {
    opacity: .8;
    cursor: pointer;
}

.base .navbar .menu .item-menu.actived img {
    filter: invert(51%) sepia(83%) saturate(586%) hue-rotate(96deg) brightness(97%) contrast(102%);
}

.base .content,
.base .header.home {
    padding: 0 10px;
}

.base .header.home .infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.base .header.home .infos .logo {
    width: 120px;
}

.base .header.home .infos .address {
    display: flex;
    flex-direction: column;
}

.base .header.home .infos .address .addess-actived {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.base .content .categories .slide-categories {
    position: relative;
    width: 100%;
    padding: 10px 0;
    z-index: 0;
}

.base .content .categories .category {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.base .content .categories .category .item-category {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg-color-2);
}

.base .content .categories .category .item-category img {
    width: 62px;
    height: 70px;
}

.base .content .categories .category .item-category.favorite img {
    width: 100%;
    height: 80px;
}

.base .content .categories .category .name-category {
    margin-top: 2px;
}


.base .content .highlights,
.base .content .offers {
    width: 100%;
    margin-top: 10px;
}

.base .content .highlights .slide-highlights {
    position: relative;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100px;
}

.base .content .highlights .slide-highlights .swiper {
    position: absolute;
    left: -67px;
    width: 112%;
}

.base .content .highlights .slide-highlights .swiper-slide {
    width: 70% !important;
}


.base .content .highlights .slide-highlights .item-highlights {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: aqua;
}

.base .content .highlights .slide-highlights .item-highlights img {
    width: 100%;
    height: 100px;
}

.base .content .offers .slide-offers,
.base .content .produts .slide-produts {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.base .my-addresses {
    margin-top: 50px;
}

.base .my-addresses .list-address {
    width: 100%;
    margin-top: 30px;
}

.base .my-addresses .list-address .address {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

.base .my-addresses .list-address .address i {
    font-size: 24px;
    color: var(--text-placeholder-color-1);
}

.base .my-addresses .list-address .address.active i {
    font-size: 24px;
    color: var(--color-primary);
}

.base .my-addresses .list-address .address .address-actual {
    margin-bottom: 10px;
}

.base .my-addresses .list-address .address.active .address-actual {
    font-weight: 600;
}

.icon5vh {
    width: 33.34px;
}

.icon3vh {
    width: 19.80px;
}

.margin5 {
    margin: 0 18.75px;
}

.delivery-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px dashed var(--color-primary);
    border-radius: 10px;
    margin: 0 33px;
    color: var(--color-primary);
    background-color: var(--bg-tag-success);
    padding: 7.5px;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 14px 20px;
}

.amount {
    height: 40px;
    padding: 8px;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(153, 153, 153);
    margin-top: 8px;
    user-select: none;
    max-width: 250px;
}

.item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    color: rgb(153, 153, 153);
    text-overflow: ellipsis;
    line-height: 16px;
    max-height: 32px;
    width: 158.40px;
    font-size: 45%;
}

.product-title {
    font-size: larger;
    font-weight: bolder;
}

.image-product {
    height: 88px;
    display: flex;
    margin: 16px;
    align-items: center;
    justify-content: center;
}

.image-product img {
    height: 88px;
    align-self: center;
    padding: 4px;
}

.item-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 16%);
    margin-right: 19.80px;
    margin-left: 19.80px;
    margin-bottom: 19.80px;
}

.deleteIcon {
    margin: 13.98px 6px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.addProducts {
    color: var(--color-grey);
}

.bill {
    height: 319.80px;
    margin-top: 46.2px;
}

.bg-order {
    background-color: var(--bg-color-1);
    border-radius: 13.20px;
    border: thin solid var(--text-placeholder-color-1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 178.20px;
    margin-top: 33px;
}

.orderSumary {
    width: 90%;
    height: 141.9px;
    border-radius: 9.9px;
    background-color: var(--color-white);
    color: var(--text-color-1);
    position: absolute;
    top: -19.80px;
}

.headerSumary {
    display: flex;
    align-items: center;
}

.orderSumaryHeader {
    background-color: var(--color-primary);
    border-top-left-radius: 9.9px;
    border-top-right-radius: 9.9px;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9.9px;
    justify-content: flex-start;
}

#totalPrice {
    padding: 6.6px;
}

.itensOrderDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6.6px;
    border-style: dashed;
    border-bottom-width: 1px;
    border-color: var(--text-color-3);
    margin: 0vw 11.25px;
    font-size: 75%;
    color: var(--color-grey);
}

.discountCoupom {
    color: var(--color-primary);
}

.totalAmountBill {
    font-weight: bolder;
    border-bottom-width: 0px;
}

.option {
    width: 90%;
    top: 135.30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 26.4px;
}

.option input {
    background-color: var(--color-white);
    width: 135px;
    height: 100%;
    border-radius: 6.6px;
    padding: 6.6px 7.5px;
    border: 2px solid var(--border-color-1);
}

.option input::placeholder {
    color: var(--text-placeholder-color-1);
}

#paymentMethod {
    height: 92.4px;
    margin-top: 66px;
}

#paymentMethodHeader {
    top: -39.6px;
    height: 62.7px;
    font-size: 64%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
}

#paymentMethodTitle {
    line-height: 100%;
    display: flex;
    flex-direction: column;
    height: 33px;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sub-title {
    font-size: 70%;
}

#paymentOption {
    top: 46.2px;
    width: 266.25px;
}

.customerBasicInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 60%;
    margin: 13.2px;
}

.customerBasicInfo img {
    margin: 6.6px;
    padding: 6.6px;
    width: 30px;
}

.customInfo {
    margin-top: 6.6px;
}

.customerObservation {
    height: 99px;
    text-align: start;
}

.textObs {
    width: 100%;
    margin: 5px 0;
    padding: 10px 20px;
    height: 92.4px;
    border: 2px solid var(--border-color-1);
    border-radius: 12px;
    background-color: var(--bg-color-1);
    resize: none;
}

.textObs::placeholder {
    color: var(--text-placeholder-color-1);
}

.orderAction {
    display: flex;
    margin: 7.5px 18.75px;
}

.footer-info {
    line-height: 16.5px;
    margin: 13.2px 18.75px;
    color: var(--color-grey);
}

.orderDetailsHeaderTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.orderDetails {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid var(--color-grey);
    border-radius: 6.6px;
    margin-bottom: 33px;
}

.orderDetailsHeader {
    margin: 11.25px 15px;
}

.orderDetailsHeader img {
    margin-right: 6.6px;
    width: 18.75px;
}

.OverviewOrder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    font-size: 75%;
}

.sideOverview {
    display: flex;
    flex-direction: column;
}

#overviewDescription {
    margin: 0;
}

.titleOrderDetails {
    color: var(--color-grey);
}

.right {
    align-items: flex-end;
}

.itemOverview {
    margin: 5.28px 0;
}

.wrapper {
    margin: 4.62px;
}

.OverviewCosts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    font-size: 75%;
}

.dashedBorder {
    border-style: dashed;
    border-bottom-width: 1px;
}

.solidBorderOrderStatus {
    border-style: solid;
    border-bottom-width: 1px;
    border-color: var(--text-color-3);
    margin: 0;
}

.overviewItemDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.marginTB2 {
    margin: 13.20px 0;
}

.blueText {
    color: #3e77bd;
}

.listItemProductStatus {
    background-color: var(--bg-color-2);
}

.itemProductStatus {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 9.9px 33px;
}

.itemProductStatusImg {
    width: 60px;
    height: 66px;
}

.itemProductStatusImg img {
    width: 100%;
}

.itemDescriptionTotalProductStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.padding5vw {
    padding: 9.9px 18.75px;
}

.wrapper5h {
    margin: 45px
}

.profilePicture {
    width: 90px;
    height: 119.80px;
}

.mainInfoUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 22.5px 0;
}

.scoreUser {
    background-color: var(--text-color-1);
    border-radius: 13.2px;
    height: 79.2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px 67.5px;
}

.opProfile {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color-1);
    border-radius: 9.9px;
    padding: 13.20px;
    cursor: pointer;
    transition: .5s all ease;
}

.opProfile:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: .5s all ease;
}

.opProfile:hover img {
    filter: invert(1);
    transition: .5s all ease;
}

.wrapper2vh {
    margin: 15px;
}

.mgb0 {
    margin-bottom: 0;
}

.headerOrderStatus {
    background-color: var(--color-primary);
    width: 100%;
    height: 198px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.headerTopOrderStatus {
    background-color: var(--bg-color-2);
    height: 42.90px;
    width: 100%;
    display: flex;
    border-top-right-radius: 26.40px;
    border-top-left-radius: 26.40px;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
}

.msgOrderStatus {
    background-color: var(--color-white);
    width: 100%;
    height: 82%;
    display: flex;
    border-bottom-right-radius: 26.40px;
    border-bottom-left-radius: 26.40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 44px;
}

.containerMsgOrderStatus {
    width: 100%;
    height: 112.20px;
}

.mg-5 {
    margin: 33px;
}

.abasSales {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.abaTitleSales {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.iconAbaTitleSales {
    width: 10%;
    margin-right: 2%;
}

.iconAbaTitleSales img {
    width: 100%;
    height: auto;
}

.borderAba {
    border-bottom: 3px solid var(--color-primary);
    height: 46.20px;
    background-image: linear-gradient(to top, var(--bg-color-1), white)
}

.linhaUnica {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3.3px;
}

.price-item {
    margin: 19.80px 0;
}

.mgb1 {
    margin-bottom: 6.6px !important;
}

.circle-line {
    height: 33px;
    padding: 6.6px 6.6px 0 6.6px;
}

.circle {
    background: var(--border-color-1);
    width: 11%;
    height: 85%;
    border-radius: 310.20px;
}

.line {
    width: 15%;
    height: 8%;
    background-color: var(--border-color-1);
}

.statusPagamento {
    background-color: #fed201;
    color: var(--text-color-1);
    padding: 0 5.63px;
    border-radius: 39.6px;
}

.wrapper100 {
    margin: 100px;
}

#button-coupon {
    width: 108.75px;
    height: 33px;
}

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

#couponModal {
    position: fixed;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 16%);
    bottom: 0;
    gap: 19.80px;
    height: 330px;
    background-color: var(--bg-color-2);
    z-index: 2;

}

.backgroundTransparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.couponList {
    gap: 19.80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.couponContainer {
    padding: 13.20px 19.80px;
    display: grid;
    box-shadow: none;
}

.couponSelected {
    border: 2px solid #00d054;
    background-color: #e0ffe6;
}

#shadowCoupon {
    box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}

.discountCoupon {
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 3.75px;
}

.orderHistoryItem {
    border-bottom: 1px solid var(--color-grey);
    margin: 13.20px 26.40px 0 26.40px;
    padding-bottom: 13.20px;
}

.orderHistoyList {
    overflow: scroll;
}

.deleteAccount {
    display: flex;
    align-items: center;
    align-items: center;
    color: red;
}

.headerOrderStatus {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;

}

.mapImageContainer {
    position: relative;
    width: 100%;
    z-index: 5;
}

.mapImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.base {
    position: relative;
    z-index: 1;
}

.headerOrderStatus {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.mapImageContainer {
    position: relative;
    width: 100%;
    z-index: 5;
}

.mapImage {
    width: 104%;
    height: 231px;
}

/* Card sobre o mapa */
.containerMsgOrderStatus {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 24px;
    width: 100%;
    height: 125px;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
}

/* Ícone circular acima do card */
.iconContainer {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 29px;
    border-radius: 50%;
    clip-path: ellipse(100% 60% at 50% 0%);
    /* Torna a parte superior mais arredondada */
    z-index: 15;
    overflow: hidden;
}


.statusIcon {
    width: 108%;
    height: 100%;
    right: 4px;
    -o-object-fit: contain;
    object-fit: contain;
    transform: scale(0.8);
    position: relative;
    top: -40px;
    filter: invert(30%) sepia(100%) saturate(600%) hue-rotate(90deg) brightness(95%) contrast(90%);
    transition: transform 0.3s ease-in-out;
}

/* Texto do status */
.msgOrderStatus {
    margin-top: 19px;
    /* Aumenta o espaçamento para acomodar o ícone */
}

.text-color-3 {
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
}

.text-11-600 {
    font-size: 12px;
    font-weight: 600;
}

.text-color-primary {
    color: #00C853;
    font-size: 25px;
    font-weight: 600;
}

/* Linha de círculos com efeito de progresso */
.circle-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.circle {
    width: 33px;
    height: 33px;
    background-color: #ddd;
    border-radius: 50%;
    position: relative;
    z-index: 1;
}
.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line {
    width: 30px;
    height: 2px;
    background-color: #ddd;
}


.circle.completed {
    background-color: #00C853;
}


.line.completed {
    background-color: #00C853;
}

